body{
    background-color: rgb(7, 0, 99);
    color: white;
}

a{
    color: palevioletred;
}

a:hover{
    color:#1589FF;
}

.light-article{
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.light-article p{
    margin: 0;
}

.light-article h2{
    margin-top: 0;
}

.light-section{
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.light-section p{
    margin: 0;
}

.light-section h2{
    margin-top: 0;
}