body{
    background-color:lightgreen;
    color: white;
}

header{
    font-size: 35px;
    padding: 30px;
    text-align: center;
    font-weight: bold;
}

main{
}

h1{

}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

.wrap-whole{
    background-color:rgb(129, 4, 129);
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.card {
  background-color: darkkhaki;
  color: white;
  padding: 20px;
  text-align: center;
}

.card-no-hover {
  background-color: darkkhaki;
  color: white;
  padding: 20px;
  text-align: center;
}

.card:hover{
    background-color: aquamarine;
    color: black;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.cards a{
    text-decoration: none;
}


@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

.bulletin{
    width: 75%;
    background-color: aliceblue;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}

.outside-scroll-container{
  padding:10px;
  background-color: #333;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.showcase-inner-container{
  padding:10px;
  max-width: 650px;
  background-color: #333;
  color: white;
  margin: 0 auto;
  text-align: left;
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  gap: 15px;
  align-items: flex-start;
  /* justify-content: center; */
}

.showcase-inner-container div{
  width: 100px;
	height: 50px;
	transform: skew(-200deg);
	background: blueviolet;

  padding: 20px;
  padding-left: 5px;
  padding-top: 5px;
  text-align: center;
  color: white;
} 

.showcase-inner-container a{
  text-decoration: none;
}

.link-hover:hover{
    background-color: aquamarine;
    color: black;
}

.parallelogram {
  width: 100px;
	height: 50px;
	transform: skew(-20deg);
	background: blueviolet;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid blueviolet;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid blueviolet;
}

.center-text{
  text-align: center;
}


