body{
    background-color:lightgreen;
    color: whitesmoke;
}

header{
    font-size: 35px;
    padding: 30px;
    text-align: center;
}

main{
}

.wrap-whole{
    background-color:rgb(129, 4, 129);
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.card {
  background-color: darkkhaki;
  color: white;
  padding: 20px;
  text-align: center;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

