:root{
    --maxWidth: 1000px;
    --mainPurpleA: #1E104E;
    --mainPurpleB: #452E5A; 
    --mainPupleC: purple; 
    --mainOrangeA:#FF653F;
    --mainOrangeB: #f23000;
    --mainYellow: #FFC85C;
    --mainLime: #196A0B;
}

body{
    max-width: var(--maxWidth);
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-dont-scoll{
    position: fixed;
    width: 100%;
    margin-top: -8px;
}

nav{
    background-color: var(--mainOrangeA);
    height: 70px;
    max-width: var(--maxWidth);
    display: flex;
    justify-content: center;
}

nav .center-this{
    gap: 10px;
    display: flex;
    width: 100%;
    display: grid; grid-template-columns: repeat(4, 1fr);
}

nav .center-this a{
    text-decoration: none;
    color: var(--mainPurpleA);
}

nav .center-this .item{
    height: 100%;
    background-color: var(--mainYellow);
    padding: 5px;
    display: grid;
    place-items: center;
    box-sizing: border-box;
    text-align: center;
}

nav .center-this .item:hover{
    outline: var(--mainOrangeB);
    outline-width: 5px;
    outline-style: solid;
    outline-offset: -5px;
}

nav .center-this .item p{
    display: block;
    margin: 0;
}

main{
    margin: 0;
}

header{

}

.title{
    padding: 10px;
    background-color: var(--mainPurpleA);
    text-align: center;
    min-height: 80vh;
    display: grid;
    place-items: center;
}

.title h1{
    padding: 0;
    margin: 0;
    font-size: 20vw;
}

.about{
    min-height: 20vh;
    padding: 10px;
    display: block;
    background-color: var(--mainPurpleB);
}

.months-12-of-art{
    min-height: 30vh;
    padding: 10px;
    display: block;
    background-color: var(--mainOrangeA);
}

.dc-button{
    color: black;
    padding: 10px;
    background-color: var(--mainYellow);
    height: 50px;
    display: grid;
    place-items: center;
    outline: var(--mainOrangeB);
    outline-width: 5px;
    outline-style: solid;
}

.dc-button:hover{
    outline: var(--mainYellow);
    outline-width: 5px;
    outline-style: solid;
    background-color: var(--mainOrangeB);
}

.dc-button p{
    margin: auto;
}

.link-dc-button-container{
    text-decoration: none;
}

.book-blog{
    min-height: 30vh;
    padding: 10px;
    display: block;
    background-color: var(--mainLime);
}

footer{
    background-color: gray;
    display: block;
    margin: 0;
    padding: 10px;
    margin-bottom: -8px;
}

footer a{
    color: blue;
}

footer a:hover{
    color: var(--mainPupleC);
}
