body{
    background-color: white;
    background-image: url(images/background\ image\ lavndr.png);
    background-attachment:fixed ;
    background-size: cover;
}

main{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.index-container{
    display: grid;
    grid-template-columns: 2.5fr 2fr 3fr;
    grid-template-rows: 2fr 1.5fr 2fr 2fr 2fr;
    grid-template-areas: 'rose schoolps abtme'
                        'socials schoolps abtme'
                        'socials favgame abtme'
                        'penny favgame dayphoto'
                        'penny guestbook dayphoto';
    padding-top: 10px;
    gap: 10px;
    row-gap: 10px;
}

.index-container div{
    background-color: #c2afef;
    border: 1px solid black;
    padding: 10px;
}

.index-container div h3{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 30px;
    text-align: center;
}

.area-rose{ grid-area: rose;}
.area-shoolps{ grid-area: schoolps;}
.area-aboutme{ grid-area: abtme;}
.area-socials{ grid-area: socials;}
.area-favegame{ grid-area: favgame;}
.area-dailyphoto{ grid-area: dayphoto;}
.area-penelopescott{ grid-area: penny;}
.area-guestbook{ grid-area: guestbook;}
.area-nine{ grid-area: nine;}
.area-blank{ grid-area: blank;}


.title{
    width: 75%;
    height: 200px;
    background-color: #99ecc3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "fantasy", sans-serif;
    font-size:4vh ;
    border: 1px solid black;
}

.tags{
    padding: 10px;
    background-color: #99ecc3;
    width: 24%;
    display: grid;
    grid-template-rows: 30px 30px 30px;
    grid-template-columns: 81px 81px 81px;
    border: 1px solid black;
}

.tags a{
    width: 80px;
}

.tags img{
    width: 80px;
}

.titles-container{
    gap: 10px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    display: flex;
}

.mini-title-container{
    background-color: #99ecc3;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid black;
}

.outer-scoll{
    height: 150px; 
    padding: 15px;
    background-color: #99ecc3;
    border: 1px solid black;
}

.scroll-box { /* the container for the scrolling things */
    margin: auto;
    height: 150px; 
    overflow-y: auto;
    display: flex;
    gap: 10px;
}

.scroll-child{
    background-color:#383838;
    width: 200px;
    flex:0 0 200px;
    height: 90%;
    padding: 5px;
    text-align: center;
    color:#f0eaff;
    border: 1px solid black;
}

.scroll-box div h3{
    margin-top: 0px;
}


.showcase-container{
    margin-top: 10px;
    border: 1px solid black;
    background-color: #c2afef;
    padding: 25px;
}
