body{
    background-color: white;
    background-image: url(images/background\ image\ lavndr.png);
    background-attachment:fixed ;
    background-size: cover;
}

main{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.index-container{
    display: grid;
    grid-template-columns: 2.5fr 2fr 3fr;
    grid-template-rows: 2fr 1.5fr 2fr 2fr 2fr;
    grid-template-areas: 'rose schoolps abtme'
                        'socials schoolps abtme'
                        'socials favgame abtme'
                        'penny favgame dayphoto'
                        'penny guestbook dayphoto';
    padding-top: 10px;
    gap: 10px;
    row-gap: 10px;
}

.index-container div{
    background-color: #c2afef;
    border: 1px solid black;
    padding: 10px;
}

.index-container div h3{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 30px;
    text-align: center;
}

.area-rose{ grid-area: rose;}
.area-shoolps{ grid-area: schoolps;}
.area-aboutme{ grid-area: abtme;}
.area-socials{ grid-area: socials;}
.area-favegame{ grid-area: favgame;}
.area-dailyphoto{ grid-area: dayphoto;}
.area-penelopescott{ grid-area: penny;}
.area-guestbook{ grid-area: guestbook;}
.area-nine{ grid-area: nine;}
.area-blank{ grid-area: blank;}


.title{
    width: 70%;
    height: 200px;
    background-color: #99ecc3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "fantasy", sans-serif;
    font-size:4vh ;
}

.tags{
    padding: 10px;
    background-color: #99ecc3;
    width: 27%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}

.tags img{
    width: 80%;
}

.titles-container{
    gap: 3%;
    height: 200px;
    background-color: #c6f6de;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    display: flex;
}