:root {
    --main-bg-color: #38405f;
}

* {
  box-sizing: border-box;
}

body{
    font-family: 'Arial';
    background-color: #8b939c;
}

.title{
    background-color: #59546c;
    text-align: center;
    border: 1px solid;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 5px;
}

footer{
    background-color: var(--main-bg-color);
    text-align: left;
    padding: 10px;
}

footer p{
    margin: 1px;
}

.px10-sep{
    margin-top: 10px;
}

.px20-sep{
    margin-top: 20px;
}

.px25-sep{
    margin-top: 25px;
}

.px30-sep{
    margin-top: 30px;
}

.left {
  float: left;
  width: 20%;
  text-align: center;
  background-color: var(--main-bg-color);
}


.main-content {
  float: left;
  width: 60%;
  padding: 0 20px;
}

.main-content div,section{
    background-color: var(--main-bg-color);
}

.right {
  background-color: var(--main-bg-color);
  float: left;
  width: 20%;
  padding: 15px;
  text-align: center;
}

.inner-content{
    border: 1px solid;
    padding: 10px;
    border-radius: 15px;
}

.space-no-phone{
    margin-top: 100%;
    display: block;
}

@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  .left, .main-content, .right {
    width: 100%;
  }

  .main-content{
    padding:0;
  }

  .space-no-phone{
    display: none;
  }
}