body{
    padding-left: 10px;
    padding-right: 10px;
    background-color: black; 
    color: white;
}  

th, td {
        border: 1px solid rgb(0, 0, 0);
        background-color: black;
        padding: 5px;
    }

table{
    background-color: white;
}

footer{
  margin-top: 300px;
  background-color: #333; 
  padding: 5px; 
  padding-left: 20px;
}

.footer-div{
  max-width: 800px;
}

div.scroll-container {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #333;
    overflow: auto;
    padding: 10px;
    white-space: nowrap;
}

div.scroll-container img {
    padding: 10px;
    height: 200px;
}

.image-hover-container {
  position: relative;
  display: inline-block; 
  vertical-align: top;        
  width: auto;           
}

.image-will-be-hovered {
  display: block;
  width: auto;           
  height: 200px;        
}

.image-text-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgba(0, 0, 0, 0.7);
  white-space: normal;
}

.image-hover-container:hover .image-text-overlay {
  opacity: 1;
}

.text-on-image {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: normal;
}

.center-element {
    display: grid;
    place-items: center;
}

.main-buttons {
  background-color: #333;
  min-width: 120px;
  text-align: center;
  padding: 5px;
  display: inline-block;
  width: auto;
  float: left;
  text-decoration: none; 
  color: white;
  box-sizing: border-box;
}

.main-buttons-right {
  background-color: #333;
  min-width: 120px;
  text-align: center;
  padding: 5px;
  display: inline-block;
  width: auto;
  float: right;
  text-decoration: none; 
  color: white;
  box-sizing: border-box;
}

.main-button-container-index{
  max-width: 800px;
  background-color: #141414;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
}

.main-stuff-container{
  max-width: 800px;
  background-color: #141414;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-left: 25px;
  box-sizing: border-box;
}


.index-image-container{
  max-width: 800px;
  background-color: #141414;
  display: flex; 
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.index-title-and-other-container{
  max-width: 800px;
  background-color: #ab7f43;
  color: #141414;
  display: flex; 
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}