:root {
  --color1: #663397;
  --color2: #A68DC9;
  --color3: #E6E6FA;
  --color4: #FFEED1;
  --color5: #EED3B6;
}

body{
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 0;
    margin: 0;
}

header{
    text-align: left;
    background-color: var(--color1);
    margin: 0;
    padding: 4vw;
    color: var(--color3);
}

header h1{
    font-size:40vw;
    margin-top: -4vw;
    margin-bottom: -10vw;
    font-weight: normal;
}

header p{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}
