body{
    padding-left: 10px;
    padding-right: 10px;
    background-color: black; 
    color: white;
}  

th, td {
        border: 1px solid rgb(0, 0, 0);
        background-color: black;
        padding: 5px;
    }

table{
    background-color: white;
}

footer{
  margin-top: 300px;
  background-color: #333; 
  padding: 5px; 
  padding-left: 20px;
}

.footer-div{
  max-width: 800px;
}

div.scroll-container {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #333;
    overflow: auto;
    padding: 10px;
    white-space: nowrap;
}

div.scroll-container img {
    padding: 10px;
    height: 200px;
}

.image-hover-container {
  position: relative;
  display: inline-block; 
  vertical-align: top;        
  width: auto;           
}

.image-will-be-hovered {
  display: block;
  width: auto;           
  height: 200px;        
}

.image-text-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgba(0, 0, 0, 0.7);
  white-space: normal;
}

.image-hover-container:hover .image-text-overlay {
  opacity: 1;
}

.text-on-image {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: normal;
}

.center-element {
    display: grid;
    place-items: center;
}

.main-buttons {
  background-color: #333;
  min-width: 120px;
  text-align: center;
  padding: 5px;
  display: inline-block;
  width: auto;
  float: left;
  text-decoration: none; 
  color: white;
  box-sizing: border-box;
}

.main-buttons-right {
  background-color: #333;
  min-width: 120px;
  text-align: center;
  padding: 5px;
  display: inline-block;
  width: auto;
  float: right;
  text-decoration: none; 
  color: white;
  box-sizing: border-box;
}

.main-button-container-index{
  max-width: 800px;
  background-color: #141414;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
}

.main-button-container-index div:hover{
  background-color: gray;
}

.main-stuff-container{
  max-width: 800px;
  background-color: #141414;
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-left: 25px;
  padding-right: 20px;
  box-sizing: border-box;
}


.index-image-container{
  max-width: 800px;
  background-color: #141414;
  display: flex; 
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.title-container-gold{
  max-width: 800px;
  background-color: #ab7f43;
  color: #141414;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  padding-top: 45px; 
  padding-bottom: 45px;
}

.container-gold{
  max-width: 800px;
  background-color: #ab7f43;
  color: #141414;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  padding-bottom: 80px;
}

.outside-scroll-container{
  padding:10px;
  background-color: #333;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.showcase-inner-container{
  max-width: 650px;
  background-color: #333;
  color: white;
  margin: 0 auto;
  text-align: left;
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.showcase-inner-container a{
  display: flex
}

.items-in-showcase{
  text-align: center;
  box-sizing: border-box;
  color:white; 
  background-color: black; 
  height: 145px; 
  padding-left: 10px; 
  padding-right: 10px;
  min-width: 200px;
}

.photo-showcase-inner-container{
  max-width: 650px;
  background-color: #333;
  color: white;
  margin: 0 auto;
  text-align: left;
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  gap:10px;
  justify-content: flex-start;
  align-items: flex-start;
}

.photo-showcase-inner-container a{
  display: flex
}

.photo-showcase-inner-container img{
  max-height: 350px;
  display: block;
  height: auto;
  display: flex;
}



.showcase-inner-container a{
  text-decoration: none
}

.blue-link-style a{
  color: blue; 
  text-decoration: underline;
}

.small-text-indent{
  margin-left: 20px;
}

.text-indent{
  margin-left: 40px;
}

.gift-haul-sec-left{
}

.gift-haul-sec-left img{
  max-width: 245px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px
}

.wh-button{
  display: block;
  clear: both;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #ab7f43;
  text-align: left;
  text-align: center;
  color: white;
}

.wh-button:hover{
  background-color: goldenrod;
  color: white;
}

.size-warning {
    display: none;
    background-color: #ffdddd;
    color: #d8000c;
    padding: 20px;
    border: 1px solid #d8000c;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

@media (max-width: 500px) {
    .size-warning {
        display: block;
    }
    .content {
    }
}