body{
    padding-left: 10px;
    padding-right: 10px;
    background-color: black; 
    color: white;
}  

div.scroll-container {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

div.scroll-container img {
    padding: 10px;
    height: 200px;
}