body{
    background-color: blueviolet;
    color: white;
    font-family: Arial;
}

main{
    width: 60%;
    min-width: 300px;
    background-color: rgba(0, 0, 0, 0.65);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;

}

main p{

}

.fp{
    color: #66d9bf;
    background-color: black;
}

.srs{
    color: #ffbfbf;
    background-color: black;
}