body{
    margin: 0%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    margin: 0;
}

header{

}

.title{
    padding: 10px;
    background-color: #1E104E;
    text-align: center;
    height: 80vh;
    display: grid;
    place-items: center;
}

.title h1{
    padding: 0;
    margin: 0;
}

.about{
    height: 50vh;
    padding: 10px;
    display: block;
    background-color: #452E5A;
}

.join-us{
    height: 40vh;
    padding: 10px;
    display: block;
    background-color: #FF653F;
}

.join-us .dc-button{
    color: black;
    padding: 10px;
    background-color: #FFC85C;
    height: 50px;
    display: grid;
    place-items: center;
    outline: #f23000;
    outline-width: 5px;
    outline-style: solid;
}

.join-us .dc-button:hover{
    outline: #FFC85C;
    outline-width: 5px;
    outline-style: solid;
    background-color: #f23000;
}

.join-us .dc-button p{
    margin: auto;
}

.join-us .link-dc-button-container{
    text-decoration: none;
}

footer{
    background-color: gray;
    display: block;
    margin: 0;
    padding: 10px;
}

footer a{
    color: blue;
}

footer a:hover{
    color: purple;
}

nav{
    background-color: #FF653F;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
}

nav .center-this{
    gap: 10px;
    display: flex;
    width: 100%;
    display: grid; grid-template-columns: repeat(3, 1fr);
}

nav .center-this .item{
    height: 100%;
    background-color: #FFC85C;
    padding: 5px;
    display: grid;
    place-items: center;
    box-sizing: border-box;
}

nav .center-this .item p{
    display: block;
    margin: 0;
}